<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nit.livetex.livetexsdktestapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="nit.livetex.livetexsdktestapp.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="nit.livetex.livetexsdktestapp.gcm.permission.C2D_MESSAGE" />

    <application

        android:name="nit.livetex.livetexsdktestapp.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:logo="@android:color/transparent"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="nit.livetex.livetexsdktestapp.FragmentEnvironment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="nit.livetex.livetexsdktestapp.PushAction"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="sdk.requests.ClientRequestService"
            android:exported="false" >
        </service>
        <service
            android:name="sdk.service.NotificationVisitorService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service android:name="nit.livetex.livetexsdktestapp.services.DownloadService"/>

        <provider
            android:authorities="nit.livetex.livetexsdktestapp.providers.ConversationsProvider"
            android:name="nit.livetex.livetexsdktestapp.providers.ConversationsProvider"/>
        <provider
            android:authorities="nit.livetex.livetexsdktestapp.providers.MessagesProvider"
            android:name="nit.livetex.livetexsdktestapp.providers.MessagesProvider"/>

        <receiver
            android:name="nit.livetex.livetexsdktestapp.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="nit.livetex.livetexsdktestapp.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="nit.livetex.livetexsdktestapp.gcm.GcmMessageHandler" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
