<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nit.livetex.livetexsdktestapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
	    android:requestLegacyExternalStorage="true"
        android:name="nit.livetex.livetexsdktestapp.MainApplication"
        android:logo="@android:color/transparent"
        android:allowBackup="false"
        android:icon="@drawable/ic_app"
        android:theme="@style/CustomTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Required for Android 8+ -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="nit.livetex.livetexsdktestapp.FragmentEnvironment"
            android:label="@string/app_name"
            android:allowBackup="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="nit.livetex.livetexsdktestapp.PushAction"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nit.livetex.livetexsdktestapp.alert.ServiceDialog" android:label=""  android:theme="@style/Theme.AppCompat.Light.Dialog"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name="sdk.requests.ClientRequestService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" >
        </service>
        <service
            android:name="sdk.service.NotificationVisitorService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <service android:name="nit.livetex.livetexsdktestapp.services.DownloadService"/>

        <!-- [START firebase_service]
         for docs see https://firebase.google.com/docs/cloud-messaging/android/receive
         -->
        <service
            android:name="nit.livetex.livetexsdktestapp.firebase.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
    </application>

</manifest>
