<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nit.livetex.livetexsdktestapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.idevspro.author.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.idevspro.author.permission.C2D_MESSAGE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="livetex.sdk.requests.ClientRequestService"
            android:exported="false" >
        </service>
        <service
            android:name="livetex.sdk.service.NotificationVisitorService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- <receiver -->
        <!-- android:name="livetex.sdk.service.NotificationVisitorReciever" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" > -->
        <!-- </receiver> -->


        <!-- <receiver -->
        <!-- android:name="livetex.sdk.DialogStateReciever" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" > -->
        <!-- </receiver> -->

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InitActivity"
            android:label="@string/title_activity_init"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClaimActivity"
            android:label="@string/title_activity_claim"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="nit.livetex.livetexsdktestapp" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
    </application>

</manifest>
